    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    {% if page.url == "/" or page.path == "index.html" %}
    {% assign meta_title = site.seo_title %}
    {% elsif page.title %}
    {% assign meta_title = page.title | append: " | " | append: site.seo_title %}
    {% else %}
    {% assign meta_title = site.seo_title %}
    {% endif %}

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    <meta name="twitter:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />

    <meta property="og:title" content="{{ meta_title }}" />
    <meta name="twitter:title" content="{{ meta_title }}" />
    <meta property="og:site_name" content="{{ site.name }}" />
    {% if page.noindex %}
    <meta name="robots" content="noindex, nofollow" />
    {% endif %}
