---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
	
<!-- return to the top -->
<div id="return-top" class="top_e">
  <img src="imgages/top.png" width="60" id="img" >
    <div style="width:60px;margin:auto;">
        <p id='font' style="font-size:20px;margin-left:10px;display:none;">Back to<br>the Top</p>
    </div>
</div>

 <style type="text/css">
        
       .top_e{
            position:fixed;right:10px;bottom:40px;
            background:rgba(204,200,255,0.6);
            border-radius:15px;
            cursor:pointer;
            display:none;
            width:60px;
            height:60px;
            }
       .top_e:hover
       {
         color:white;
         background:#1296DB;
       }
    </style>
<script>
	
 $(window).scroll(function(){
            if($(window).scrollTop()>300){
                $('#return-top').fadeIn(300);
                }
             else{$('#return-top').fadeOut(200);}
                 })


$("#return-top").click(function(){
scrollTo(0,0);
});

$(".top_e").mouseover(function(){
    $("#img").hide();
    $("#font").show();
})

$(".top_e").mouseout(function(){
    $("#font").hide();
    $("#img").show();
})
</script>

<!-- Gitalk start -->
<div id="gitalk-container"></div> <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script> 
<script>
    var gitalk  = new Gitalk ({
        id: window.location.pathname,   // Ensure uniqueness and length less than 50
        clientID: 'Ov23ctryzdChSl8iq4Pj', //'{ {site.comment_gitalk_clientId} }',
        clientSecret: '78c901647fefe12e412e2283c7d7e6516cffd976', //'{ {site.comment_gitalk_clientSecret} }',
        repo: 'BYFu-cs.github.io', //'{ {site.comment_gitalk_repo} }',
        owner: 'BYFu-cs', //'{ {site.github_username} }',
        admin: ['BYFu-cs'], //['{ {site.github_username} }'],
	distractionFreeMode: false,  // Facebook-like distraction free mode
        perPage: 10,
        pagerDirection: 'last',
        createIssueManually: true,
	language: 'en',
    })
    gitalk.render('gitalk-container')
</script> 
<!-- Gitalk end -->


  {% include disqus.html %}
</article>
