---
layout: default
---

<article class="post">
	
<!-- return to the top -->
<head>
	<title>Back to Top</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <style>
    #backToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(249, 249, 249, 0.5);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px; 
  font-size: 18px; 
  cursor: pointer;
}
    .fas {
  font-size: 24px;
}
  </style>
  <script src="_layout/scripts.js"></script>
</head>	
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

<button onclick="topFunction()" id="backToTop"><i class="fas fa-arrow-up"></i></button>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

<!-- Gitalk start -->
<div id="gitalk-container"></div> <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script> 
<script>
    var gitalk  = new Gitalk ({
        id: window.location.pathname,   // Ensure uniqueness and length less than 50
        clientID: 'Ov23ctryzdChSl8iq4Pj', //'{ {site.comment_gitalk_clientId} }',
        clientSecret: '78c901647fefe12e412e2283c7d7e6516cffd976', //'{ {site.comment_gitalk_clientSecret} }',
        repo: 'BYFu-cs.github.io', //'{ {site.comment_gitalk_repo} }',
        owner: 'BYFu-cs', //'{ {site.github_username} }',
        admin: ['BYFu-cs'], //['{ {site.github_username} }'],
	distractionFreeMode: false,  // Facebook-like distraction free mode
        perPage: 10,
        pagerDirection: 'last',
        createIssueManually: true,
	language: 'en',
    })
    gitalk.render('gitalk-container')
</script> 
<!-- Gitalk end -->


  {% include disqus.html %}
<script src="_layout/scripts.js"></script>
</article>
